<html ng-app="archive">
<head>
<meta charset="utf8" />
<title>Document Upload</title>
<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div id="wrap">
		<div id="header">
			<h1>Document Upload</h1>
		</div>
	
		
		<div  ng-controller="UploadCtrl">
			
			<table class="table">
				<tr>
					<td>Customer Id</td>
				</tr>
				<tr>
					<td>
					 <label ng-model="customerId"/>
					</td>
				</tr>
				<tr>
					<td>uploadDate</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="uploadDate" value="2017-01-01"></td>
				</tr>
				
				<tr>
					<td>fileType</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="fileType" value="KYC" ></td>
				</tr>
				
				<tr>
					<td>fileSource</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="fileSource" value="Computer" ></td>
				</tr>
				
				<tr>
					<td>digitalSign</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="digitalSign" value="No" ></td>
				</tr>
				
				<tr>
					<td>digitalSignSource</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="digitalSignSource" value="NA" ></td>
				</tr>
				
				<tr>
					<td><input type="file" class="custom-file-input" file-model="myFile"></td>
					
				</tr>
				<tr>
					<td><button ng-click="uploadFile()">Upload</button></td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<p>Footer</p>
		</div>
	</div>
	<script src="lib/angular/angular-1.2.16.js"></script>
	<script src="app.js"></script>
</body>
</html>
